* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Starjedi";
    src: url(Starjedi.ttf);
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #3385A6;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #1F2326;
    font-size: large;
    font-weight: 700;
    font-family: "Starjedi", 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
}

a:hover {
    color: #5CF2E3;
    font-size: large;
}

.drink-anchor {
    color:#1F2326;
}

.drink-anchor:hover {
    color: #5CF2E3;
    font-size: large;
}

.title-section {
    display: flex;
    flex-direction: column;
    font-family: "Starjedi", 'Times New Roman', Times, serif;
    align-items:center;
    margin-bottom: 25px;
    color:#1F2326;
    letter-spacing: 1.5px;
}

heading-02 {
    font-size: small;
}

main {
    padding: 16px;
}

.grid-one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.drink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 35px;
    background-color: #163359;
    font-family: "Starjedi", 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    position: static;
    bottom: auto;
}

img {
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 7px 10px 5px 0px#1F2326;
}

nav {
    padding: 16px;
}

.ingredients {
    font-family: "Starjedi", 'Times New Roman', Times, serif;
    letter-spacing: 2.5px;
}

.instructions {
    font-family: "Starjedi", 'Times New Roman', Times, serif;
    letter-spacing: 2.5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }
